@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.cdnfonts.com/css/miama");
*{
  font-family: "Inter", sans-serif;
}

body{
    background-color: black;
    /* width: 80%;
    margin: 0 auto; */
    font-style: Inter;
}
/* header start here */
header{
    
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);

}
.fitness{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon >ul{
    /* color: white; */
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 20px;
    /* border: 2px solid yellow; */
    align-items: center;
}
.fit{
    color:rgba(230, 83, 60, 1) ;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    }
    .home {
       background-color:rgba(230, 83, 60, 1) ;
       padding:12px;
       border-radius: 45px;
       color: white;
    }
    
    .body-shape{
        /* font-family: Inter; */
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 28px;
        line-height: 85px;
    }
    #shape{
        font-family: Miama;
        font-size: 70px;
        font-style: italic;
        font-weight:600;
        line-height: 2px;
    }
    
    .container{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 100px;
        column-gap:20%;
    } 
    .bp{
        /* width: 100%;
        height: 100%; */
        position:relative;
        /* border: 2px solid red; */
        background-image:url(./images/Images\ 2.png) ;
        background-repeat: no-repeat;
        background-size:contain;
        /* height: fit-content; */
        /* background-position: center; */
    }
    .vt{
        /* border: 2px solid red; */
        width: 100%;
    }
    .vv{
        margin: 120px 0px 350px 230px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 40%;
    }
    .vc{
        padding: 20px;
        margin: 400px 250px auto 0px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        column-gap:10px;
        width: 40%;
    }

    /* header ends here */
    /* footer section start */
    .f-container{
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: grid;
        /* justify-content: space-between; */
        grid-template-columns:repeat(3,1fr);
        column-gap: 20%;
        /* row-gap: 100px; */
        /* align-items: center;
        justify-content: center; */
    }
    .icon2 > ul{
        line-height:30px;
        list-style: none;
    }
    .fw{
        margin-top: 0px;
        font-size: 10px;
    }
    .fit-2{
        color:rgba(230, 83, 60, 1) ;
        font-size: 60px;
        font-style: italic;
        font-weight: 800;
    }
    footer{
        background: rgba(34, 34, 34, 1);
        
    }
    /* footer ends here */
    /* sention-2 start here */
    .change{
        text-align: center;
        margin-bottom: 70px;
    }
    .change-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .img{
        border-radius: 50%;
    }
    .section-2
    {
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
        margin-top: 40px;
    }
    /* section-2 ends here */
    /* section-3 start here */
    .section-3{
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
        padding: 40px 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 120px;
        background: rgba(34, 34, 34, 1);
    }
    .run{
        height:100%;
        width:100%; 
        border-radius: 15px;
        object-fit: none;
        object-position: 68% 30%;
    }
    /* section-3 ends here */

    /* section 4 start here */
    .bmi{
        margin:80px 25%;
    }

    .bfather{
        width: 80%;
        margin: 0 auto;
        /* border: 2px solid red; */
        display:grid ;
        grid-template-columns: repeat(2,1fr);
        gap: 17.5%;
        /* background: rgba(34, 34, 34, 1); */
        margin-bottom: 80px;
       
    }
    .d{
        /* border: 2px solid red; */
        width: 205%;
        padding: 10px;
    }
    .child-father{
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        row-gap: 12px;
        width: 100%;
        /* background: rgba(34, 34, 34, 1); */

    }
    .child{
        border-radius: 5px;
        /* background: rgba(34, 34, 34, 1); */
        /* background-color: rgba(255, 255, 255, 0.1); */
     }

     /* section 4 end here */

     /* section 5 start here */
    .all-pic{
        /* height: 500px; */
        /* width: 500px; */
        background: rgba(255, 255, 255, 0.1);
        padding: 12px;
        /* border: 2px solid yellow;  */
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        margin-bottom: 50px;
        overflow: hidden;
    }
    .a{
        color: gray;
    }
    .i{
        margin: 5px;
        border: 5px solid grey;
        border-radius: 10px;
        box-shadow: 5px 5px 20px gray;
        border-radius: 18px;
        height: 50%;
        width: 50%;
        /* border: 2px solid aqua; */
        /* position: relative; */
    }
    
    .l{
        border-radius: 18px;
        height: 100%;
        width: 100%;
    }
    .wrt{
        position: absolute;
        top: 65%;
        margin: 10px;
    }
    .x{
        position: relative;
    }

     /* section 5 end here */

    .white{
        color: white;
    }
    .bblack{
        color:rgba(255, 255, 255, 0.5);
        ;
    }

    .section-6{
        width: 90%;
        margin: 0 auto;
        /* margin-bottom: 70px; */
    }
      
    .section-6-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 30px;
        /* border: 2px solid red; */
        margin-bottom: 100px;
    }

    

     
     @media screen and (max-width:426px) 
     {
        
    
        .container
         {
            grid-template-columns: repeat(1,1fr);
         }
         .change-container
         {
            grid-template-columns: repeat(1,1fr);
         }
         .section-3
         {
            grid-template-columns: repeat(1,1fr);
         }
         .bfather
         {
            grid-template-columns: repeat(1,1fr);
         }
         
         .all-pic
         {
            /* height: 500px; */
            grid-template-columns: repeat(1,1fr);
         }
         .f-container
         {
            grid-template-columns: repeat(1,1fr);
            /* display: flex; */
            row-gap: 0px;
         }
         
         .side
         {
           width: 317px;
           gap: 50px;
           /* border: 2px solid aqua; */
           /* max-width: max-content; */
         }
         .side > p
         {
            /* border:5px solid yellow; */

         }
         .runn
         {
           width: 100%;
           margin-bottom: 30px;
         }
         *{
            margin: 10px;
         }
         .section-6-container
         {
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
         }
         .ctyb{
            width: 50%;
         }
        .c{
            margin-bottom: 50px;
        }
     }
 
    